body {
    margin:0;
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
    overflow: hidden;
    font-family: 'sans-serif';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}

.table-div {
    box-sizing: border-box;
    text-align: center;
    width:430px;
    height:600px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px 0px #cbced1;
    box-shadow: -13px, -13px 20px 0px #ffffff;
}

table {
    border-collapse: collapse;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    text-align: left;
    padding: 8px;
}
td.edit{
    width:65px;
}
td.name{
    width:150px;
}
td.delete{
    text-align: center;
}
input.editor{
    width: 100%;
}
input.update{
    width: 100%;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}